body {
    margin: 0;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f5f9;
}
* {
    font-size: small;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-sky {
    color: #0ea5e9;
}

.sub-nav {
    font-weight: 700;
    border-left: 1px solid #e2e8f0;
}

.sub-nav:last-child {
    border-right: 1px solid #e2e8f0;
}

.sub-nav-link {
    border-bottom: 2px solid transparent;
    color: #64748b;
}

.sub-nav-link:hover {
    color: #0ea5e9 !important;
    border-bottom-color: #0ea5e9;
}
